header {
    margin-bottom: 50px;
    font-size: 0.8rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem !important;
}

.navbar-brand {
    font-size: 1rem;
    font-weight: bold;
}

.description {
    font-style: italic;
    font-size: 0.9rem;
}

.steps {
    font-size: 0.9rem;
}

.h-result {
    font-size: 0.9rem;
    font-weight: bold;
}

.h-testcase {
    background-color: #f0f0f0;
    margin: 0 !important;
}

.numline {
    display: flex;
}

.testcase {
    margin-bottom: 50px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #f0f0f0;
}

.testcase-summary {
    margin-bottom: 25px;
}

.testcase h2 {
    margin-top: 8px;
    font-weight: bold;
    color: #444 !important;
    font-size: 1rem !important;
}

.testcase-info {
    padding: 1rem;
}

ol {
    padding-left: 0;
}

.number {
    width: 3ch;
}

.hidden {
    display: none;
}

.color-white {
    color: #fff !important;
}