header {
    margin-bottom: 50px;
    font-size: 0.8rem;
    font-weight: bold;
}

.navbar-brand {
    font-size: 1rem;
    font-weight: bold;
}

.description {
    font-style: italic;
}

.numline {
    display: flex;
}

.testcase {
    margin-bottom: 50px;
}

ol {
    padding-left: 0;
}

.number {
    width: 3ch;
}

.hidden {
    display: none;
}